@import 'obsidian.css';
@import 'ff.css';

.o-Layout {
  justify-content: center;
}
.o-Layout__child {
  flex: 1 1 auto;
  width: 100%;
  max-width: 100%;
}

@media (--sm) {
  .o-Layout__child {
    max-width: calc(50% - 1rem);
  }
}

@media (--lg) {
  .o-Layout {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .o-Layout__child {
    max-width: calc(25% - 1rem);
  }
}

.c-Card {
  background: white;
}

.c-Divider--t {
  border-top: 1px solid var(--palegray);
}

.c-Divider:not(:last-of-type) {
  border-right: 1px solid var(--palegray);
}


.c-Header { background: var(--color-1); }
.c-Header__link { color: white; }


:root {
  --headlines: var(--helvetica);
  --body-text: var(--helvetica);
  --ff-sans-serif: var(--helvetica);
  --ff-default: var(--helvetica);
}
