@import 'obsidian.css/lib/settings';
@import 'obsidian.css/lib/generic';

@import 'obsidian.css/lib/elements';

@import 'obsidian.css/lib/objects/obsidian.icons';
@import 'obsidian.css/lib/objects/obsidian.flex';
@import 'obsidian.css/lib/objects/obsidian.containers';
@import 'obsidian.css/lib/objects/obsidian.grid-columns';

@import './objects/layout.css';
@import './components/card.css';
@import './components/dividers.css';
@import './components/header.css';
@import './components/readme.css';

@import 'obsidian.css/lib/utilities';


@import 'ff.css';



:root {
  --headlines: inherit;
  --body-text: inherit;
  --ff-sans-serif: var(--avenir);
  --base-border: 1px;
  --ff-mono: var(--sfmono);
  --ff-default: var(--avenir);
  --ff-w: 400;
}
