<header class="u-center u-p3">
  <h2 class="h4 u-w300" style='font-family: Avenir'>
    {{#link-to 'index'}}Status Board{{/link-to}}
  </h2>
</header>

<main class="u-p3 o-flex o-flex--j--sb">
  {{outlet}}
</main>
