{{ user-block user=user }}

<div class="u-py3 o-flex o-flex--j--sb">
  <aside class="o-layout o-col--9/12 o-flex o-flex--wrap">
    {{#each model as |repo|}}
      <div class="o-layout__child u-mx2 u-mb3">
        {{card-ui r=repo}}
      </div>
    {{/each}}
  </aside>
  <section>
    {{outlet}}
  </section>
</div>
