{{ user-block user=user }}

<div class="u-py3">
  <aside class="o-Layout o-flex o-flex--wrap">
    {{#each model as |repo|}}
      <div class="o-Layout__child u-mx2@sm u-mb3">
        {{card-ui r=repo}}
      </div>
    {{/each}}
  </aside>
  <section>
    {{outlet}}
  </section>
</div>
