<article class="o-container o-container--center o-flex o-flex--wrap u-py4">


  <div class="o-col--12/12 o-col--8/12@md">
    <section>
      {{readme-area class='c-README' content=model.readme.content}}
    </section>
  </div>

  <div class=" u-pl4@md o-col--12/12 o-col--4/12@md">

    {{card-repo className='u-mb4' r=model.repo }}

    <section class='u-mb4'>
      <h2 class="h5">Clone</h2>
      <code class='small'>git clone {{ model.repo.clone_url }}</code>
    </section>
  </div>
</article>

{{outlet}}
